:root {
    --black: #000000;
    --gold: #DAA520;

    --light: #fffffc;
    --charcoal: #333333;
    --slate: #2F4F4F;
    --gunmetal: #2A2A2A;

    --facebook: #1877F2;

    --instagram: #DD2A7B;
    --instagram2: #F58529;
    --instagram3: #8134AF;
    --instagram4: #515BD4;
}


a {
    text-decoration: none;
    color: var(--black);
}
header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 0 10px 0;
    border-bottom: solid 2px var(--black);
}
.logo {
    height: 50px;
}




.navbar-toggler {
    border: none;
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
.navbar-collapse {
    text-align: center;
    font-size: 18px;
    /* text-transform: uppercase; */
    font-weight: 500;
}
.nav-socials-number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: var(--black);
    border-top: solid 2px var(--black);
    border-bottom: solid 2px var(--black);
}
.nav-number,
.svg-div {
    display: flex;
    column-gap: 25px;
}
.phone-num {
    font-weight: 600;
    color: var(--gold);
}
.my-svg {
    height: 25px;
    cursor: pointer;
    fill: var(--gold);
}

.lower-nav {
    width: 100%;
}

.lower-nav-logo{
    display: flex;
    justify-content: space-between;
}

/* .nav-quote-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
} */
.nav-quote-btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--gold);
}
@media (min-width: 992px) {
    .navbar-nav{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
}
@media (min-width: 768px) {
    .navbar-nav{
        column-gap: 30px;
    }
}



@media (min-width: 576px) {

    .nav-socials-number {
        padding: 20px 50px;
    }
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
    .lower-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-nav-inner {
        display: flex;
        width: 70%;
    }
    .nav-quote-btn-div {
        margin-top: 0;
    }
    .navbar-nav {
        display: flex;
    }
}

@media (max-width: 576px) {
    .nav-quote-btn {
        display: none;
    }
}







.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
    margin-top: 45px;
    margin-bottom: 80px;
    /* border: solid blue; */
}

.hero-div h1 {
    text-transform: capitalize;
    font-size: 65px;
}
.hero-p-div p {
    text-transform: capitalize;
    font-size: 35px;
}
.hero-quote-btn {
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--gold);
}
@media (max-width: 992px) {
    .hero-div h1 {
        font-size: 55px;
    }
}
@media (max-width: 768px) {
    .hero-div {
        width: 100%;
    }
    .hero-div h1 {
        font-size: 40px;
    }
    .hero-p-div p {
        font-size: 25px;
    }
    .hero-quote-btn {
        font-size: 18px;
    }   
}

@media (max-width: 505px) {
    .hero-div h1 {
        font-size: 37px;
    }
    .hero-p-div p {
        font-size: 20px;
    }
    .hero-quote-btn {
        font-size: 15px;
    }   
}

@media (max-width: 470px) {
    .hero-div h1 {
        font-size: 35px;
    } 
}

@media (max-width: 446px) {
    .hero-div h1 {
        font-size: 30px;
    }
    .hero-p-div p {
        font-size: 18px;
    }
    .hero-quote-btn {
        font-size: 14px;
    }   
}

@media (max-width: 387px) {
    .hero-div h1 {
        font-size: 26px;
    }
    .hero-p-div p {
        font-size: 16px;
    }
    .hero-quote-btn {
        font-size: 13px;
    }  
    
}
@media (max-width: 340px) {
    .hero-div h1 {
        font-size: 24px;
    }
    .hero-p-div p {
        font-size: 15.5px;
    }
    .hero-quote-btn {
        font-size: 12px;
    }  
    
}






.about-div {
    display: flex;
    flex-direction: row;
    max-width: 780px;
    column-gap: 20px;
}
.about-img {
    display: flex;
    padding-top: 20px;
    /* border: solid 2px black; */
}
.about-img img {
    height: 200px;
}
.about-bio {
    display: flex;
    flex-direction: column;
}
.about-bio h2 {
    font-size: 60px;
}
.about-bio p {
    font-size: 20px;
}
.about-bio h2,
.about-bio p{
    display: flex;
    justify-content: flex-start; 
    /* border: solid black 2px; */
}
@media (max-width: 992px) {
    .about-bio h2 {
        font-size: 55px;
    }
    .about-img img {
        height: 160px;
    }
    .about-bio p {
        font-size: 19px;
    }
}
@media (max-width: 768px) {
    .about-bio h2 {
        font-size: 40px;
    }
    .about-div {
        flex-direction: column;
        max-width: 100%;
    }
    .about-img {
        padding-top: 0;
    }    
}
@media (max-width: 505px) {
    .about-bio h2 {
        font-size: 37px;
    }
    .about-bio p {
        font-size: 18px;
    }
}
@media (max-width: 470px) {
    .about-bio h2 {
        font-size: 35px;
    }
    .about-bio p {
        font-size: 17px;
    }
    
}
@media (max-width: 446px) {
    .about-bio h2 {
        font-size: 30px;
    }
    .about-bio p {
        font-size: 16px;
    }
}
@media (max-width: 387px) {
    .about-bio h2 {
        font-size: 26px;
    }
    .about-bio p {
        font-size: 16px;
    }
}






.services-outer {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--black);
    color: var(--gold);
    /* border: solid 2px black; */
}
.services-inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.our-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid var(--gold);
}
.our-services-h2 {
    text-transform: uppercase;
    font-size: 60px;
}
.our-services-p {
    text-transform: capitalize;
    font-size: 35px;
}
.services-area-div {
    display: flex;
    justify-content: center;
    /* border: solid red 2px; */
}
.services-area {
    display: flex;
    row-gap: 25px;
    justify-content: space-between;
    width: 100%;
    /* border: dashed black 2px; */
}
.services-area div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px 20px;
    row-gap: 10px;
    border: solid 2px var(--gold);
}
.services-h2 {
    text-transform: capitalize;
    font-size: 45px;
}
.services-p {
    font-size: 20px;
}

@media (max-width: 992px) {
    .our-services-h2 {
        font-size: 55px;
    }
    .our-services-p {
        font-size: 30px;
    }
}
@media (max-width: 768px) {
    
    .our-services-h2 {
        font-size: 40px;
    }
    .services-h2 {
        font-size: 35px;
    }
    .our-services-p {
        font-size: 25px;
    }
    .services-p {
        font-size: 20px;
    }
}

@media (max-width: 505px) {

    .our-services-h2 {
        font-size: 37px;
    }
    .services-h2 {
        font-size: 32px;
    }

    .our-services-p {
        font-size: 20px;
    }
    .services-p {
        font-size: 15px;
    }
}
@media (max-width: 470px) {

    .our-services-h2 {
        font-size: 35px;
    }
    .services-h2 {
        font-size: 30px;
    }
    
}
@media (max-width: 446px) {

    .our-services-h2 {
        font-size: 30px;
    }
    .services-h2 {
        font-size: 28px;
    }
    
    .our-services-p {
        font-size: 18px;
    }
}

@media (max-width: 387px) {

    .our-services-h2 {
        font-size: 26px;
    }
    .services-h2 {
        font-size: 24px;
    }
    
    .our-services-p {
        font-size: 16px;
    }
}
@media (max-width: 340px) {

    .our-services-h2 {
        font-size: 24px;
    }
    .services-h2 {
        font-size: 21px;
    }
    
    .our-services-p {
        font-size: 15.5px;
    }
    .services-p {
        font-size: 14.5px;
    }
}






.process-outer {
    padding-top: 60px;
    padding-bottom: 60px;
    /* border: solid 2px black */
}

.our-process {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    border-bottom: 2px solid var(--gold);
}

.process-inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;  

    
}

.our-process h2 {
    text-transform: uppercase;
    color: var(--gold);
    font-size: 60px;
}
.our-process p {
    font-size: 35px;
    font-weight: 500;
    text-transform: capitalize;
}

.process-area-div {
    display: flex;
    justify-content: center;
    /* border: solid red 2px; */
}

.process-area {
    justify-content: space-evenly;
    row-gap: 50px;
    width: 100%;
    /* border: solid 2px black */
}
.process-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    color: var(--black); 
    padding: 40px 20px;
    max-width: 450px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.4);
}
.process-card h3 {
    color: var(--gold);
    font-size: 40px;
    /* margin: 0; */
}
.process-card p {
    /* text-transform: capitalize; */
    font-size: 20px;
    /* color: var(--gold); */
}
.process-card-svg {
    height: 40px;
    fill: var(--gold);
}

@media (max-width: 768px) {

    .our-process h2 {
        font-size: 40px;
    }
    .our-process p {
        font-size: 25px;
    }

    
    .process-card {
        padding: 30px;
        max-width: 400px;
    }

    
}
@media (max-width: 450px) {
    .our-process h2 {
        font-size: 38px;
    }
    .our-process p {
        font-size: 20px;
    }
    .process-card {
        width: 87%;
        row-gap: 15px;
        padding: 30px 18px;
    }

    .process-card h3 {
        font-size: 35px;
    }
    .process-card p {
        font-size: 18px;
    }
    .process-card-svg {
        height: 38px;
    }
    
}

@media (max-width: 390px) {
    .process-card {
        width: 90%;
    }
    
}
@media (max-width: 377px) {
    .process-card {
        width: 100%;
    }

    
    .our-process p {
        font-size: 18px;
    }
    
}
@media (max-width: 356px) {
    .process-card {
        padding: 25px 15px;
    }
    .process-card p {
        font-size: 16px;
    }
}
@media (max-width: 336px) {
    .process-card h3 {
        font-size: 25px;
    }
    .process-card-svg {
        height: 25px;
    }

    .our-process h2 {
        font-size: 25px;
    }
    .our-process p {
        font-size: 16px;
    }
}
@media (max-width: 318px) {
    .process-card p {
        font-size: 15px;
    }
}




.accordion-outer {
    padding: 90px 0;
    background-color: var(--gold);
    border-top: solid 2px var(--black);
    border-bottom: solid 2px var(--black);
}
.accordion-section {
    display: flex;
    justify-content: center;
    /* border: solid black; */
}
.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    width: 100%;
    max-width: 830px;
}
.accordion-item {
    border: none; 
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4)
}
.accordion-button { 
    color: var(--gold);
    font-weight: 600;
    font-size: 30px;
    column-gap: 20px;
}
.accordion-collapse {
    background-color: var(--black);
    color: var(--gold);
}
.accordion-button:focus {
    box-shadow: none; 
    outline: none;
    background-color: var(--gold);
    border: solid 2px var(--black);
    color: var(--black);
}
.accordion-button:not(.collapsed) {
    background-color: var(--gold);
    color: var(--black);
}
@media (max-width: 470px) {

    .accordion-button { 
        font-size: 25px;
    }
}

@media (max-width: 387px) {
    .accordion-button { 
        font-size: 20px;
    } 
    
}









.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: solid 2px var(--instagram3); */
}
.contact-section-btn {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
    max-width: 600px;
    /* border: solid 2px var(--instagram); */
}
.footer-section-btn {
    background-color: var(--gold);
    border: solid 3px var(--black);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
}
.social-section {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    max-width: 600px;
    /* border: 2px solid var(--instagram3); */
}
.social-section h2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
}
.social-svgs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
    /* border: solid 2px var(--facebook); */
}
.my-svg-footer-socials-ig {
    fill: var(--instagram);
    height: 88px;
}
.my-svg-footer-socials-fb {
    fill: var(--facebook);
    height: 80px;
}


@media (max-width: 992px) {
    .social-section h2 {
        font-size: 50px;
    }
    .my-svg-footer-socials-ig {
        height: 65px;
    }
    .my-svg-footer-socials-fb {
        height: 57px;
    }
    .social-svgs {
        justify-content: center;
        column-gap: 50px;
    }
}
@media (max-width: 600px) {
    .contact-section-btn {
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width: 400px) {
    .social-section h2 {
        font-size: 40px;
    }
    .my-svg-footer-socials-ig {
        height: 45px;
    }
    .my-svg-footer-socials-fb {
        height: 40px;
    }
}









.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    padding-bottom: 60px;
    background-color: var(--black);
    /* border: solid 2px var(--facebook); */
}
.footer-section-logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* row-gap: 20px; */
    /* border: solid 2px var(--instagram); */
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-section-logo-div p {
    color: var(--gold);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
}
.footer-logo {
    /* margin-right: 40px; */
    height: 200px;
}
.footer-section-num-email {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 800px;
    /* border: solid 2px var(--instagram3); */
    padding-top: 20px;
    padding-bottom: 30px;
}
.my-svg-footer-phone {
    fill: var(--gold);
    height: 80px;
}
.my-svg-footer-email {
    fill: var(--gold);
    height: 88px;
}
.my-svg-footer-atl-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 800px;
    /* border: solid 2px var(--instagram2); */
    padding-top: 20px;
    padding-bottom: 20px;
}
.my-svg-footer-alt-ig {
    fill: var(--gold);
    height: 88px;
}
.my-svg-footer-alt-fb {
    fill: var(--gold);
    height: 80px;
}
@media (max-width: 540px){
    .footer-logo {
        height: 150px;
    }
    .footer-section-logo-div p {
        font-size: 50px;
    }
    .my-svg-footer-phone {
        height: 60px;
    }
    .my-svg-footer-email {
        height: 68px;
    }
    .my-svg-footer-alt-ig {
        height: 68px;
    }
    .my-svg-footer-alt-fb {
        height: 60px;
    }
}
@media (max-width: 410px){
    .footer-logo {
        height: 130px;
    }
    .footer-section-logo-div p {
        font-size: 40px;
    }
    .my-svg-footer-phone {
        height: 40px;
    }
    .my-svg-footer-email {
        height: 45px;
    }
    .my-svg-footer-alt-ig {
        height: 45px;
    }
    .my-svg-footer-alt-fb {
        height: 40px;
    }
}
@media (max-width: 410px) {
    .footer-section-logo-div p {
        font-size: 30px;
    }
}

