
:root {
    --black: #0b0c0c;
    /* --gold: #FFD700; */
    --gold: #DAA520;
    /* --goldenrod: #DAA520; */

    --light: #fffffc;
    --charcoal: #333333;
    --slate: #2F4F4F;
    --gunmetal: #2A2A2A;

    --facebook: #1877F2;

    --instagram: #DD2A7B;
    --instagram2: #F58529;
    --instagram3: #8134AF;
    --instagram4: #515BD4;
}


a {
    text-decoration: none;
    color: var(--black);
}
header {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 0 0 10px 0;
    border-bottom: solid 2px var(--black);
}
.logo {
    height: 50px;
}




.navbar-toggler {
    border: none;
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none !important;
}
/* .navbar-collapse .navbar-nav {
    display: inline-block;
} */
.navbar-collapse {
    text-align: center;
    font-size: 18px;
    /* text-transform: uppercase; */
    font-weight: 500;
}






.nav-socials-number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: var(--black);
    border-top: solid 2px var(--black);
    border-bottom: solid 2px var(--black);
}
.nav-number,
.svg-div {
    display: flex;
    column-gap: 25px;
}
.phone-num {
    font-weight: 600;
    color: var(--gold);
}
.my-svg {
    height: 25px;
    cursor: pointer;
    fill: var(--gold);
}

.lower-nav {
    width: 100%;
}

.lower-nav-logo{
    display: flex;
    justify-content: space-between;
}

.nav-quote-btn-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.nav-quote-btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--gold);
}
@media (min-width: 992px) {
    .navbar-nav{
        display: flex;
        justify-content: space-evenly;
        width: 70%;
    }
}
@media (min-width: 768px) {
    .navbar-nav{
        column-gap: 30px;
    }
}
@media (min-width: 576px) {
    .nav-socials-number {
        padding: 20px 50px;
    }
    .navbar-collapse {
        display: flex;
        justify-content: flex-end;
    }
    .lower-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .lower-nav-inner {
        display: flex;
        width: 70%;
    }
    .nav-quote-btn-div {
        margin-top: 0;
    }
    .navbar-nav {
        display: flex;
    }
}



.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    margin-top: 45px;
    margin-bottom: 80px;
    /* border: solid blue; */
}
.hero-div {
    display: flex;
    flex-direction: column;
    max-width: 820px;
    text-align: center;
    row-gap: 10px;
    padding-bottom: 50px;
    /* border: solid red; */
}
.hero-div h1 {
    text-transform: capitalize;
    font-size: 65px;
}
.hero-p-div p {
    text-transform: capitalize;
    font-size: 35px;
}
.hero-btn-div button {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--gold);
}



.about-div {
    display: flex;
    flex-direction: row;
    max-width: 780px;
    column-gap: 20px;
    /* border: solid purple; */
}
.about-img {
    display: flex;
    padding-top: 20px;
}
.about-img img {
    height: 200px;
}
.about-bio {
    display: flex;
    flex-direction: column;
}
.about-bio h2 {
    font-size: 55px;
}
.about-bio p {
    font-size: 20px;
}
.about-bio h2,
.about-bio p{
    display: flex;
    justify-content: flex-start;
}


.services-outer {
    padding-top: 90px;
    padding-bottom: 90px;
    background-color: var(--black);
    color: var(--gold);
    /* border: solid 2px black; */
}
.services-inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.our-services {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid var(--gold);
}
.our-services-h2 {
    text-transform: uppercase;
    /* color: var(--gold); */
    font-size: 60px;
}
.our-services-p {
    text-transform: capitalize;
    font-size: 30px;
}
.services-area-div {
    display: flex;
    justify-content: center;
    /* border: solid red 2px; */
}
.services-area {
    display: flex;
    row-gap: 25px;
    /* column-gap: 25px; */
    justify-content: space-between;
    width: 100%;
    /* border: dashed black 2px; */
}
.services-area div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px;
    border: solid 2px var(--gold);
}
.services-h2 {
    text-transform: capitalize;
    font-size: 40px;
}
.services-p {
    font-size: 20px;
}



.process-outer {
    padding-top: 60px;
    padding-bottom: 60px;
    /* border: solid 2px black */
}
.process-inner {
    display: flex;
    flex-direction: column;
    row-gap: 60px;  
}
.our-process {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    border-bottom: 2px solid var(--gold);
}
.our-process h2 {
    text-transform: uppercase;
    color: var(--gold);
    font-size: 60px;
}
.process-area-div {
    display: flex;
    justify-content: center;
    /* border: solid red 2px; */
}
.our-process p {
    font-size: 30px;
    text-transform: uppercase;
}
.process-area {
    justify-content: space-evenly;
    row-gap: 50px;
    width: 100%;
}
.process-card {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    color: var(--black); 
    padding: 30px;
    border-radius: 12px; 
    box-shadow: 0 4px 8px rgba(218, 165, 32, 0.4);
}
.process-card h3 {
    color: var(--gold);
    font-size: 45px;
    /* margin: 0; */
}
.process-card p {
    text-transform: capitalize;
    font-size: 20px;
    /* color: var(--gold); */
}
.process-card-svg {
    height: 50px;
    fill: var(--gold);
}


.accordion-outer {
    padding: 30px 0;
    /* background-color: whitesmoke; */
}
.accordion-section {
    display: flex;
    justify-content: center;
    /* border: solid black; */
}
.accordion {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    max-width: 830px;
}
.accordion-item {
    border: none; /* Removes the border */
    overflow: hidden; /* Ensures content doesn't overflow rounded corners */
}

.accordion-button { 
    color: var(--gold);
    font-weight: 600;
    font-size: 30px;
}
.accordion-collapse {
    background-color: var(--black);
    color: var(--gold);
}

.accordion-button:focus {
    box-shadow: none; 
    outline: none;
    background-color: var(--gold);
    color: var(--black);
}
.accordion-button:not(.collapsed) {
    background-color: var(--gold);
    color: var(--black);
}




.contact-outer {
    padding: 70px 0;
    /* background-color: var(--black); */
}
.contact-section {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    /* max-width: 650px; */
    /* border: 2px dashed #000000; */
}
.contact-form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
    max-width: 600px;
    /* border: solid 2px blue; */
}
.contact-form-h2-div {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    /* border: solid black; */
}
.contact-form-h2 {
    color: var(--gold);
    font-size: 55px;
    margin: 0;
}
.mb-3 {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    /* border: solid red 2px; */
}
.form-label {
    /* color: var(--gold); */
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    /* border: solid black 2px; */
}
/* .form-btn-div {
    border: solid black 2px;
} */
.form-btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--black);
    border: 2px solid var(--black);
    background-color: var(--gold);
    width: 200px;
}
.contact-svgs {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 60px;
    /* border: solid red 2px; */
}
.contact-svg {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    /* border: solid red 2px; */
}
.my-svg-footer-phone,
.my-svg-footer-email {
    height: 25px;
}
.svg-footer-email {
    letter-spacing: .75px;
    /* text-transform: uppercase; */
}
.contact-svg-alt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    /* border: solid blue 2px; */
}
.my-svg-footer-socials-ig {
    height: 34px;
    cursor: pointer;
    fill: var(--instagram);
    
}
.my-svg-footer-socials-fb{
    height: 30px;
    cursor: pointer;
    fill: var(--facebook);
}




.footer-section {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    letter-spacing: .75px;
    text-transform: uppercase;
    background-color: var(--black);
    color: var(--light);
    padding: 40px 0;
    /* border: solid 2px black; */
}
.footer-section p{
    margin: 0;
    /* border: solid 2px blue; */
}

.footer-section-logo-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    row-gap: 5px;
    /* border: solid 2px green; */
}
.footer-section-num-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 15px;
    /* border: solid 2px red; */
}

.footer-contact-info {
    /* letter-spacing: 1px;
    text-transform: uppercase; */
    color: var(--light);
}

.my-svg-footer-atl-div {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    padding: 20px 0;
    fill: var(--light);
    /* border: solid 2px blue; */
}
.my-svg-footer-alt-ig {
    height: 50px;
    cursor: pointer;
}
.my-svg-footer-alt-fb {
    height: 45px;
    cursor: pointer; 
}

.footer-section-btn-div {
    display: flex;
    padding: 20px;
    justify-content: center;
    /* border: solid 2px green; */
}
.footer-section-btn {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: var(--light);
    border: 2px solid var(--light);
    background-color: var(--black);
}






@media (max-width: 992px) {
    .hero-div h1 {
        font-size: 55px;
    }

    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 50px;
    }
    .process-card h3 {
        font-size: 45px;
    }
    .form-label {
        font-size: 20px;
    }
    /* .about-bio p,
    .our-services-p,
    .services-p,
    .our-process p,
    .process-card p {
        font-size: 18px;
    } */
    .process-card-svg {
        height: 40px;
    }


}
@media (max-width: 768px) {
    .hero-div h1 {
        font-size: 43px;
    }
    .hero-p-div p {
        font-size: 26px;
    }
    .about-div {
        flex-direction: column;
        row-gap: 20px;
    }

    .about-img {
        padding-top: 0;
    }

    .about-div {
        max-width: 570px;
    }


    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 43px;
    }
    .process-card h3 {
        font-size: 40px;
    }
    .about-bio p,
    .our-services-p,
    .services-p,
    .our-process p,
    .process-card p {
        font-size: 21px;
    }
    .process-card-svg {
        height: 37px;
    }

    .contact-section{
        flex-direction: column;
        row-gap: 50px;
    }

    

}
@media (max-width: 537px) {
    .hero-div h1 {
        font-size: 37px;
    }
    .hero-p-div p {
        font-size: 22px;
    }

    

    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 40px;
    }
    .process-card h3 {
        font-size: 37px;
    }
    .accordion-button { 
        font-size: 25px;
    }
    .about-bio p,
    .our-services-p,
    .services-p,
    .our-process p,
    .process-card p,
    .accordion-body p {
        font-size: 19px;
    }
    .process-card-svg {
        height: 37px;
    }
 
}
@media (max-width: 466px) {
    .hero-div h1 {
        font-size: 32px;
    }
    .hero-p-div p {
        font-size: 19px;
    }

    .about-img img {
        height: 160px;
    }



    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 35px;
    }
    .process-card h3 {
        font-size: 32px;
    }
    .about-bio p,
    .our-services-p,
    .services-p,
    .our-process p,
    .process-card p {
        font-size: 18px;
    }
    .process-card-svg {
        height: 32px;
    }



}
@media (max-width: 455px) {
    .accordion-button { 
        font-size: 20px;
    }
}
@media (max-width: 407px) {
    .hero-div h1 {
        font-size: 28px;
    }
    .hero-btn-div button {
        font-size: 20px;
    }


    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 30px;
    }
    .process-card h3 {
        font-size: 27px;
    }
    .process-card-svg {
        height: 27px;
    }

    .my-svg-footer-alt-ig,
    .my-svg-footer-socials-ig {
        height: 30px;
    }
    .my-svg-footer-alt-fb,
    .my-svg-footer-socials-fb{
        height: 26px;
    }
    .my-svg-footer-phone,
    .my-svg-footer-email {
        height: 21px;
    }
    .form-btn {
        font-size: 15px;
    }


}

@media (max-width: 400px) {
    .footer-section p {
        font-size: 17px;
    }
    .footer-section-num-email div{
        flex-direction: column;
    }
}

@media (max-width: 388px) {
    .hero-p-div p {
        font-size: 17.5px;
    }
}
@media (max-width: 380px) {
    .accordion-button { 
        font-size: 16px;
    }
}
@media (max-width: 360px) {
    .hero-div h1 {
        font-size: 25px;
    }
    .hero-p-div p {
        font-size: 16px;
    }
    .about-img img {
        height: 130px;
    }


    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 27px;
    }
    .process-card h3,
    .accordion-button {
        font-size: 24px;
    }
    .process-card-svg {
        height: 24px;
    }


    .my-svg-footer-alt-ig,
    .my-svg-footer-socials-ig {
        height: 27px;
    }
    .my-svg-footer-alt-fb,
    .my-svg-footer-socials-fb{
        height: 23px;
    }

    .my-svg-footer-phone,
    .my-svg-footer-email {
        height: 20px;
    }

    
}
@media (max-width: 333px) {
    .hero-p-div p {
        font-size: 15px;
    }
}
@media (max-width: 324px) {
    .hero-div h1 {
        font-size: 23px;
    }
    .hero-p-div p {
        font-size: 14.5px;
    }


    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 25px;
    }
    .process-card h3,
    .accordion-button {
        font-size: 23px;
    }
    .process-card-svg {
        height: 23px;
    }

    .my-svg-footer-alt-ig,
    .my-svg-footer-socials-ig {
        height: 25px;
    }
    .my-svg-footer-alt-fb,
    .my-svg-footer-socials-fb{
        height: 21px;
    }

    .my-svg-footer-phone,
    .my-svg-footer-email {
        height: 20px;
    }
    
}
@media (max-width: 304px) {
    .hero-div h1 {
        font-size: 21px;
    }   
    .hero-p-div p {
        font-size: 13px;
    }


    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 23px;
    }
    .process-card h3,
    .accordion-button {
        font-size: 21px;
    }
    .process-card-svg {
        height: 21px;
    }

    .my-svg-footer-alt-ig,
    .my-svg-footer-socials-ig {
        height: 23px;
    }
    .my-svg-footer-alt-fb,
    .my-svg-footer-socials-fb{
        height: 19px;
    }

    .my-svg-footer-phone,
    .my-svg-footer-email {
        height: 19px;
    }


}
@media (max-width: 277px) {
    .hero-div h1 {
        font-size: 19px;
    }

    .about-bio h2,
    .our-services-h2,
    .services-h2,
    .our-process h2,
    .contact-form-h2 {
        font-size: 22px;
    }
    .process-card h3,
    .accordion-button {
        font-size: 20px;
    }
    .process-card-svg {
        height: 20px;
    }

    .my-svg-footer-alt-ig,
    .my-svg-footer-socials-ig {
        height: 22px;
    }
    .my-svg-footer-alt-fb,
    .my-svg-footer-socials-fb{
        height: 18px;
    }


    .my-svg-footer-phone,
    .my-svg-footer-email {
        height: 17px;
    }

}